body {
  width: 95%;
  margin: 0 auto;
  font-family: Arial ;
  background-color:	white;
}
h1 {
  font-family: Impact;
  position: fixed;
  margin: 20px;
  height: auto;
  width: auto;

  font-family: Courier;
  background-color: grey;
  color: black;
}
ul {
  position: relative;
  font-size: 27px;
  float: right;
}
li {
  display: inline;
  padding: 0.5em;
}
.colonna1, .colonna2, .colonna3 {

    width: 31.3%;
    float: left;
    margin: 1%;
  }
.colonna3 {
  margin-right: 10%;
}
