body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial ;
  background-color:	white;
}
.titolo {
  position: relative;
  margin: 1px;
  height: auto;
  width: auto;
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  background-color: grey;
  color: black;
  float: left;
}
.lista {
  position: relative;
  font-size: 27px;
  margin-right: 50px;
  float: right;
}
header {
  height: auto;
  width: auto;
  background-color: grey;
  color: black;
}
li {
  display: inline;
  padding: 0.5em;
}
.colonna1, .colonna2, .colonna3 {

    width: 31.3%;
    float: left;
    margin: 1%;
  }
